current user =
<%= @user.name %>

<% @user.scubas.each do |x| %>

 <%= render "scuba", :x => x %>

	<% end %>
	<a href="/scubas">Make a new entry?</a><br>
	<%= link_to "Sign Out", signout_path, id: "sign_out" %>