current user =
<%= @user.name %>

<% @user.scubas.each do |x| %>

 <%= render "scuba", :x => x %>

	<% end %>
	<p><a class="btn btn-primary btn-lg" role="button" href="/scubas">Make a New Entry</a></p>
	<p><a class="btn btn-primary btn-lg" role="button" href="/signout">Signout</a></p>
